 @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"), url(assets/fonts/Lato-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"), url(assets/fonts/Lato-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Lato Bold"), local("Lato-Bold"), url(assets/fonts/Lato-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Lato Black"), local("Lato-Black"), url(assets/fonts/Lato-Black.ttf) format("truetype");
  }

  html{
      font-size: 16px;
      font-family: "Lato", sans-seri
  }

header {
  height: 95px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-logo {
  margin: 0 0 1px 39px;
  font-size: 25px;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: -0.6px;
  color: white;
}

span {
  color: #f06c64;
}

.header-menu {
  width: 372px;
  margin: 10px 41px 0 0;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
}

.header-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: -0.25px;
  text-decoration: none;
  font-family: "Lato";
  font-weight: 700;
  color: white;
}

li.content :before {
  margin-right: 12px;
  content: '\00B7';
  font: 2em sans-serif;
  color: #44495b;
}

.header-menu li a:hover {
  color: #f06c64;
}

.swipe {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  display: block;
  margin: auto;
  align-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.our-service {
  height: 500px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 69px;
}

.wrapper-serv {
  justify-content: space-between;
  max-width: 1020px;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
}

.main-text {
  padding-top: 62px;
  padding-left: 39px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.26px;
}

.phone-left {
  margin-left: 50px;
  margin-bottom: 3px;
}

.phone-right {
  margin-bottom: 125px;
  margin-left: 69px;
}

.left-btn {
  margin-left: 41px;
  margin-bottom: 231px;
}

.right-btn {
  margin-left: 51px;
  margin-bottom: 231px;
}

.left-btn:hover {
  background: url(assets/image/leftBtnH.png);
  cursor: pointer;
  z-index: 100;
}

.right-btn:hover {
  background: url(assets/image/rightBtnH.png);
  cursor: pointer;
  z-index: 100;
}

section > div > .second-text {
  margin-right: 41px;
  margin-top: 21px;
  margin-left: 39px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.7em;
  text-align: justify;
  color: #767e9e;
}

section div .grid-context {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: -1px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75em;
  letter-spacing: 0px;
  text-align: justify;
  overflow: hidden;
  color: #767e9e;
}

.container {
  display: grid;
  grid-template-columns: 79px 240px 79px 240px 81px 239px;
  grid-template-rows: 123px 90px;
  margin-top: 45px;
  padding-left: 40px;
  overflow: hidden;
}

.text-header {
  font-family: "Lato";
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.1px;
  color: #666d89;
}

.prev {
  margin-left: 1px;
  letter-spacing: -0.1px;
}

.icon {
  margin-top: 2px;
}



.icon.star_heart {
  margin-left: 1px;
}

/*************Second***********/
.section-portfolio{
  border-bottom: solid 6px #323746;
  background-color: #2d303a;
}

.wrapper{
  width: 1020px;
  margin: 0 auto;
}

.portfolio{
  padding-top: 63px;
  padding-bottom: 47px;
  padding-left: 38px;
  padding-right: 41px;
}

.portfolio-text{
  line-height: 30px;
}

.portfolio-text h2{
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.2px;
  font-family: "Lato", sans-serif;
}

.portfolio-text p{
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
  padding-bottom:11px;
  font-family: "Lato", sans-serif;
  }

.button-item{
  color: #767e9e;
  border: 1px solid rgb(102, 109, 137);
  border-radius: 5px;
  cursor: pointer;
  background-color: #2d303a;
  margin-right: 7px;
  line-height: 18px;
  font-size: 12px;
  transition: .27s ease-out;
  outline: none;
  font-family: "Lato", sans-serif;
}

.button-item:nth-child(1){
  padding-left: 9px;
}

.button-item:nth-child(2){
  padding-left: 5px;
}

.button-item:nth-child(3){
  padding-right: 4px;

}

.button-item:nth-child(4){
  padding-right: 5px;
}

.button-item:hover {
  background-color: #dedede;
  color: rgb(102, 109, 137);
  border-color: #dedede;
}

.portfolio-works{
  padding-top:19px ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 941px;
  height: 621px;
  overflow: hidden;
}

.example-works > img{
  width: 220px;
  height: 187px;
  padding-bottom : 18px;
}

.section-about-us{
  border-bottom: solid 6px #ffffff;
  background-color: #f2f2f2;
}

.about-us-info{
  padding-top: 68px;
  padding-bottom: 67px;
  padding-left: 38px;
  padding-right: 40px;
}
.about-us-content{
  width: 940px;
  text-align: left;
}
.about-us-content > h2{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-bottom: 27px;
  font-family: "Lato", sans-serif;
}
.about-us-content > p::first-line{
  text-align : justify;
}
.about-us-content > p{
  width: 940px;
  height: 60px;
  text-align : justify;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.employee{
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.employee-content{
  max-width: 300px;
}

.foto{
  
  max-width: 100%;
  height: 300px;
  padding-bottom:8px;
}

.employee-content > h2{
  color: #666d89;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  padding-top: 6px;
  overflow: hidden;
  height: 18px;
  margin-left: -1px;
  padding-bottom: 10px;
  font-family: "Lato", sans-serif;
}
.employee-content > p::first-line{
  letter-spacing: -0.09px;
}

.employee-content > p{
  width: 300px;
  font-size: 12px;
  line-height: 21.56px;
  color: #767e9e;
  padding-bottom: 25px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}

.employee-communication{
  display:flex;
}

.social-list{
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border: 1px solid #767e9e;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .27s ease-out;
  fill: #767e9e;
}

.social-list:hover{
  background-color: #000000;
  fill: #ffffff;
}

/*********************Third****************/
.section-form{
  border-bottom: solid 6px #ea676b;
  background-color: #f06c64;
}

.wrapper{
  width: 1020px;
  margin: 0 auto;
}

.wrapper-form{
  padding-top: 62px;
  padding-bottom: 51px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-information{
  color: #f0d8d9;
  line-height: 30px;
}

.form-information > h2{
  word-spacing: -1px;
  font-size: 30px;
  padding-bottom: 21px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.form-block{
  padding-top: 43px;
  display: flex;
  justify-content: space-between;
}

form{
  display: flex;
  flex-direction: column;
}

input , textarea{
  color: #f0d8d9;
  width: 619px;
}

.input-item{
  margin-bottom: 16px;
  background-color: #d6564f;
  border: none;
  border-radius: 4px;
  padding-left: 14px;
  height: 38px;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  transition: background-color .27s ease-out, box-shadow .27s ease-out;
  outline: none;
  resize: none;
}

.input-item:focus{
  background-color: #ffffff;
  color:#000000;
}

.input-item::placeholder {
  c: #000000;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.textarea-item{
  height: 202px;
  padding-top: 12px;
}

.form-information > p{
  max-width: 939px;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.form-contact{
  max-width: 300px;
  color: #f0d8d9;
}

.form-contact > h2{
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
}

.form-contact > p{
  word-spacing: -1px;
  text-align: justify;
  font-size: 0.75rem;
  line-height: 1.35rem;
  margin-bottom: 29px;
  font-family: "Lato", sans-serif;
}

.last-line{
  position: relative;
  text-align: justify;
  word-spacing: 0.2px;
  top: 2px;
  color: #f0d8d9;
}

.contact {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 9.4px;
  padding-left: 23px;
  position: relative;
  color: #f0d8d9;
  text-decoration: none;
}

.contact::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 2px;
}
.contact-geo::before {
  background-image: url(assets/image/location.png);
}

.contact-tel::before {
  background-image: url(assets/image/phone.png);
}

.contact-mail::before {
  left: 1px;
  top: 3px;
  background-image: url(assets/image/mail.png);
}

.section-form{
  border-bottom: solid 6px #ea676b;
  background-color: #f06c64;
}

.wrapper{
  width: 1020px;
  margin: 0 auto;
}

.wrapper-form{
  padding-top: 63px;
  padding-bottom: 13px;
  padding-left: 39px;
  padding-right: 40px;
}

.form-information{
  color: #f0d8d9;
  line-height: 30px;
}

.form-information > h2{
  word-spacing: -1px;
  font-size: 30px;
  padding-bottom: 21px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.form-block{
  padding-top: 43px;
  display: flex;
  justify-content: space-between;
}

form{
  display: flex;
  flex-direction: column;
}

input , textarea{
  width: 619px;
}

.input-item{
  margin-bottom: 16px;
  background-color: #d6564f;
  border: none;
  border-radius: 4px;
  padding-left: 14px;
  height: 38px;
  font-size: 12px;
  line-height: 12px;
  color: #f0d8d9;
  box-sizing: border-box;
  transition: background-color .27s ease-out, box-shadow .27s ease-out;
  outline: none;
  resize: none;
}

.button-submit{
  height: 38px;
    width: 100px;
    text-transform: uppercase;
    color: #f0d8d9;
    font-weight: bold;
    border: none;
    background-color: #d6564f;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color .27s ease-out, background-color .27s ease-out;
}

.input-item::placeholder{
  color: #f08586cd;
}

.textarea-item{
  height: 202px;
  padding-top: 12px;
}

.form-information > p{
  max-width: 939px;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.form-contact{
  max-width: 300px;
  color: #f0d8d9;
}

.form-contact > h2{
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
}

.form-contact > p{
  word-spacing: -1px;
  text-align: justify;
  font-size: 0.75rem;
  line-height: 1.35rem;
  margin-bottom: 29px;
  font-family: "Lato", sans-serif;
}

.last-line{
  position: relative;
  text-align: justify;
  word-spacing: 0.2px;
  top: 2px;
}

.contact {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 9.4px;
  padding-left: 23px;
  position: relative;
  color: #f0d8d9;
  text-decoration: none;
}

.contact::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 2px;
}
.contact-geo::before {
  background-image: url(assets/image/location.png);
}

.contact-tel::before {
  background-image: url(assets/image/phone1.png);
}

.contact-mail::before {
  left: 1px;
  top: 3px;
  background-image: url(assets/image/mail.png);
}

.section-footer{
  background-color: #2d303a;
}

.wrapper-footer{
  width: 100%;
  padding-left: 41px;
  padding-top: 22px;
  padding-right: 34px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.footer-text{
  align-self: center;
  color: #666d89;
  letter-spacing: -0.2px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.footer-icon{
  display:flex;
}

.social-list{
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border: 1px solid #767e9e;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .27s ease-out;
  fill: #767e9e;
}

.social-list:hover{
  background-color: #ffffff;
  fill: #000000;
}